

.field {
  height: 80px;
  width: 30%;
  max-width: 170px;
  font-size: 50px;
  text-align: center;
}

.field:first-of-type {
  border-radius: 40px 0 0 40px;
}

.field:last-of-type {
  border-radius: 0 40px 40px 0;
}