.dashboard-container {
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: white;
  width: 20%;
  min-width: 240px;
  height: 100vh;
  position: fixed;
}

.toggle-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: var(--primary);
  color: var(--container);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

.toggle-button:hover {
  background-color: var(--primary-hover);
}

.panel {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.panel.closed {
  transform: translateX(-100%);
}

.panel.open {
  transform: translateX(0);
}

.panel-title {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;

}

img {
  width: 80px;
  padding-right: 6px;
}

.panel-btn {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  border: 0;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  height: 45px;
  color: darkslateblue;
}

.panel-btn.selected {
  opacity: 1;
  background-color: darkslateblue;
  color: white;
}

.icon-btn {
  font-size: 22px;
  margin-right: 8px;
}

.text-btn {
  font-size: 15px;
  opacity: 1;
}


.article-content {
  padding: 40px;
  flex: 1;
  margin-left: 20%;
}


.card-create {
  width: 30%;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding-bottom: 10px;
  gap: 6px;
  border-radius: 6px;
}

.shadow {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(151, 151, 151, 0.25);
}

.text-btn {
  font-size: 15px;
  color: var(--text-primary);
}

.dashboard-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.header-container {
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  text-align: center;
}

.section {
  background-color: white;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.section > h1 {
  width: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.password {
  display: block;
}

.form-button {
  border-radius: 0;
  font-size: 20px;
  width: 80px;
  height: 40px;
  align-self: end;
}

.delete > div {
  display: block;
  align-items: center;
  justify-items: center;
}

.delete > p {
  color: red;
}

.delete > button, .delete > button:hover {
}

.users-button {
  border-radius: 0;
  font-size: 19px;
  max-width: 50%;
  height: 40px;
  align-self: end;
}

.delete-btn {
  background-color: red;
  opacity: 0.5;
}

.delete-btn:hover {
  background-color: red;
  opacity: 1;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(213, 213, 213, 0.5);
  width: fit-content;
}

.users {
  margin-bottom: 20px;
}

.stats-numbers {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-number {
  font-size: 40px;
  margin: 0;
}

.card-icon-container {
  background-color: #e3dcf3;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.card-icon {
  font-size: 60px;
  color: darkslateblue;
  position: relative;
  top: 10px;
  left: 9px;
}

.labels {
  width: auto;
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.card-descriptor {
  display: block;
  width: 50px;
}

.statistics-first-row {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.second-row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.form-group {
  display: flex;
  align-items: start;
  font-size: 30px;
  flex-wrap: wrap;
}

.form-group > input {
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid darkslateblue;
  font-size: 15px;
}

.error-field {
  font-size: 12px;
  color: red;
  height: 0;
  margin-block-start: 0;
  margin-left: 40px;
  position: absolute;
}

.error-add {
  font-size: 12px;
  color: red;
  height: 0;
  margin-block-start: 0;
  max-width: 150px;
}

.login-card > form > input {
  margin-bottom: 20px;
}


.error-field .error-login {
  position: relative !important;
  top: -20px;
}

.users-map {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
  }

  .article-content {
    margin-left: 0;
  }

  .section, .row {
    align-items: center;
    justify-content: center;
  }

  .users-button {
    font-size: 18px;
  }

  .error-add {
    height: auto;
    margin-left: 40px;
    text-align: start;
  }
}

/* Media query for desktop devices */
@media (min-width: 769px) {

  .panel {
    transform: translateX(0);
  }

  .toggle-button {
    display: none;
  }
}
