.question-container {
  width: 80%;
  position: relative;
  left: 10%;
  background-color: #e8e8e8;
  box-shadow: 2px 2px 2px 2px mediumpurple;
  margin-bottom: 20px;
}

.question {
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Añadido para espaciar elementos */
  padding-right: 20px; /* Añadido para dar espacio al icono */
}

.question h2 {
  color: white;
  flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
  text-align: left;
}

.question-text, .answer-text {
  margin-left: 20px;
}

.answer-text {
  text-align: left;
  padding-bottom: 20px;
}

.fa-question-circle {
  font-size: 30px;
  color: white;
  position: relative; /* Cambiado de absolute a relative */
  right: 0; /* Asegura que el icono se mantenga al final */
  margin-left: auto; /* Empuja el icono al borde derecho */
}

.question:hover {
  cursor: pointer;
}
