.playlist-container {
  width: 100%;
  display: block;
  align-items: center;
  justify-items: center;
}

.playlist-info-container {
  display: flex;
  align-items: center;
}

.playlist-info {
  opacity: 100%;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.playlist {
  display: block;
  align-items: center;
  justify-items: center;
}


