html, body {
  background-color: #e3dcf3;
}

.App {
  margin-top: 50px;
  width: 100vw;
}

.Home {
  width: 95%;
  margin: auto;
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.Home.with-playlist {
  justify-content: flex-start;
  padding: 0 0 35px 0;
}

html, body, #root
{min-height: 100vh !important;
position: absolute;
top: 0;
left: 0;
}

.About, .Faq, .Home {
  margin-top: 70px;
  padding-bottom: 40px;
}


h1, h2, h3 {
  font-family: Segoe UI, sans-serif;
  text-align: center;
  color: darkslateblue;
}

p {
  text-align: center;
  color: darkslateblue;
  font-size: 20px;
  font-family: Segoe UI, sans-serif;
  opacity: 60%;
  white-space: pre-wrap;
}

#root > footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

a {
  color: darkslateblue;
  text-decoration: none;
  font-weight: bold;
}